<div class="container">

  <div class="row">
    <div class="col-sm-4 col-md-4 ">
      <h2 class="text-center">重置密码</h2>
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

          <div class="field form-group">
            <%= f.label :password, '新密码', class: 'label-control' %><br/>
            <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control', placeholder: '请设置6-20位的新密码' %>
          </div>

          <div class="field form-group">
            <%= f.label :password_confirmation, '确认新密码', class: 'control-label' %><br/>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: '请重复输入新密码' %>
          </div>

          <div class="actions">
            <%= f.submit class: 'btn btn-danger btn-block', value: '重置密码', 'data-disable-with': '正在提交' %>
          </div>
      <% end %>
    </div>
  </div>

</div>


