<div class="container">

  <div class="row">
    <div class="passport">
      <h2>注册</h2>
      <div class="col-sm-4 col-md-4">
        <%= simple_form_for(@sing_up, url: register_post_accounts_path, method: :post) do |f| %>
            <div class="text-right">没有手机？请用<a class="blue" href="/account/sign_up">邮箱</a>注册<br/>
            </div>
            <%= f.input :nickname, as: :tel, placeholder: '请输入昵称' %>
            <%= f.input :password, placeholder: '请输入至少6位密码', wrapper_html: {class: ''} %>

            <div class="form-group">
              <div class="row">
                <div class="col-xs-12">
                  <div class="row">
                    <div class="col-xs-7">
                      <div class="form-group string">
                        <%= rucaptcha_input_tag(class: 'form-control ', placeholder: '请输入校验码') %>
                      </div>
                    </div>
                    <div class="col-xs-5">
                      <span class="refresh-captcha">
                        <%= rucaptcha_image_tag(alt: '校验码', id: 'rucaptcha-image-style') %>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="input-group form-group required sing_up_mobile">

              <input id="sing_up_mobile" class="string tel required form-control" type="tel" name="sing_up[mobile]" placeholder="请输入手机号">
              <span class="input-group-addon btn btn-default" id="btn_send_mobile_code" data-key="sing_up" data-type="REGISTER">发送验证码</span>
            </div>

            <%= f.input :mobile_code, as: :tel, placeholder: '请输入手机验证码' %>

            <div class="form-group form-group-lg">
              <%= f.submit class: 'btn btn-primary btn-block', value: '立即注册', 'data-disable-with' => '正在注册' %>
            </div>
        <% end %>
        <p class="clearfix text-right">
          <a href="<%= new_user_session_path %>">使用已有账户登录</a>
        </p>
      </div>
    </div>
  </div>
</div>